extends layout

block content
  .row.banner
    h1=title
  .row
    .col-12.col-lg-9
      p=food.name
      p=food.methods[0].location
      p=food.methods[0].expiration
      p=food.methods[0].expirationTime
      p=food.tips[0]
